.tital{
  text-align: center;  
}

.calculator{
  display: flex;
  align-items: center;
  justify-content: center ;
}



.calculatorBoder{
  justify-content: center;
  width: 25%;
  height: 650px;
  border:  solid black;
  border-radius: 40px;
  background: #000;
}

.input{
  margin-top: 130px;
  width: 98%;
  height: 75px;
  border: 1px solid black ;
  font-size: 45px;
  color: white;
  background: #000;
  text-align: end;
  
  
  
}

.allBtn{
  display:flex ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.btn{
  width: 20%;
  height: 60px;
  border: 1px ;
  background-color: #5c5c5f;
  border-radius: 100px;
  font-size: 25px;
  color: white;
}
